<script src="https://accounts.google.com/gsi/client" async></script>

<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>

<div>
  <% if logged_in? %>
    <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to 'ログイン', login_path %>
  <% end %>
</div>

<%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>