<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>

<% if logged_in? %>
  <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to 'ログイン', login_path %>
<% end %>